.app-btn {
  border-radius: 3px;
  border: none;
  background: $bg-color;
  height: 30px;
  padding: 5px 8px;
  cursor: pointer;
  box-shadow: $box-shadow--basic;
  outline: none;
  margin: 0 10px;

  &:hover {
    background: $button-bg-color--hover;
  }

  &:active {
    background: $button-bg-color--active;
  }

  &:disabled {
    background: none;
    box-shadow: none;
  }
}
